* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.vision-board {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #E7CCCC;
    border-radius: 30px;
    text-align: center;
}

h1 {
    font-family: 'Georgia', serif;
    color: #A02334;
    margin-top: 20px; 
}

.main-container {
    display: flex;
    flex-wrap: wrap; 
}

.left-column {
    flex: 1 1 40%; 
    padding: 10px;
    margin-top: 20px;
}

.daily-reminder {
    background-color: #96a378;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 10px;
}

.daily-reminder p:first-child {
    font-weight: bold; 
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.daily-reminder p:last-child {
    font-family: 'Fuzzy Bubbles', cursive; 
    color: #ffff
}

.goals-image-container {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px;
}

.goals {
    background-color: #cc6d6d;
    padding: 7px; 
    border-radius: 12px;
    font-size: 14px;
    text-align: center; 
    margin-right: 10px; 
    flex: 1; 
}

.goals h2 {
    color: #ffff; 
    margin-bottom: 10px; 
}

.goals ul {
    list-style-type: none; 
    padding: 0; 
    text-align: left;
}

.goals ul li {
    position: relative; 
    padding-left: 30px; 
    color:#ffff;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 14px;
}

.goals ul li::before {
    content: '🍰'; 
    position: absolute;
    left: 0; 
    
}

.image-box {
    flex: 0 0 120px; 
    background-color: #f0f0f0;
    border-radius: 12px;
}

.goal-image {
    width: 100%; 
    height: auto;
    border-radius: 12px;
}

.spotify-song {
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 0;
    margin-top: 10px;
}

.right-column {
    flex: 1 1 60%; 
    padding: 10px;
    margin-top: 10px;
}

.image-row {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px; 
}

.image-box {
    flex: 1; 
    max-width: calc(33.333% - 10px); 
    background-color: #f0f0f0;
    border-radius: 12px;
}

.image-box img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .left-column,
    .right-column {
        flex: 1 1 100%; 
    }

    .goals-image-container {
        flex-direction: column; 
        align-items: center; 
    }

    .goals {
        margin-right: 0; 
        margin-bottom: 10px; 
        width: 100%;
    }

    .image-box {
        max-width: 90%; 
    }

    .image-row {
        flex-direction: column; 
        align-items: center; 
    }
}

@media (max-width: 480px) {
    .daily-reminder,
    .goals,
    .spotify-song {
        padding: 10px; 
    }

    .goals {
        font-size: 12px; 
    }

    .vision-board {
        padding: 10px; 
    }
}

